<span>
  <button
    [ngClass]="{'hidden': !(vobMarkerGroup.markers.length && checked)}"
    mat-icon-button
    (click)="setOpened()"
  >
    <mat-icon>{{isOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
  </button>
</span>
<div *ngIf="isOpened" class="list">
  <div
    *ngFor="let gMarker of vobMarkerGroup.markers; let index = index"
    class="list-element"
    (click)="openVob(index)"
  >
    <img class="small-marker" [src]="vobMarkerGroup.iconUrl">
    <span class="list-element-text" [title]="gMarker.value.vobName.value || text">
      {{gMarker.value.vobName.value || text}}
    </span>
  </div>
</div>
