@import 'helpers';
@import 'mixins';

.list {
  margin-left: 20px;
}

.list-element {
  @include flex-center-vertical;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-element-text {
  margin-left: 10px;
}