<span class="button-wrapper">
  <button
    [ngClass]="{'button': !(vobMarkerGroup.markers.length && checked)}"
    mat-icon-button
    (click)="setOpened()"
  >
    <mat-icon>{{isOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
  </button>
</span>
<div *ngIf="isOpened" class="list">
  <div
    *ngFor="let gMarker of vobMarkerGroup.markers; let index = index"
    class="list-element"
    (click)="openVob(index)"
  >
    <img class="icon" [src]="vobMarkerGroup.iconUrl">
    <span class="list-element-text">{{gMarker.vob.vobName.value || text}}</span>
  </div>
</div>
