@import 'variables';
@import 'mixins';

:host { @include page; }

.page {
  padding: 50px;
}

table {
  width: 100%;
}

.marker {
  @include flex-center;
}

.icon {
  color: $color-text;
  font-size: $font-marker-icon;
}

.buttons {
  @include flex-end;
  width: 100%;
  margin-top: 20px;
}