@import 'variables';
@import 'mixins';

@mixin dialog {
  .content {
    font-size: $font-small;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .label {
    padding-bottom: 7px;
  }
  
  .main-value {
    font-size: $font-large; 
  }
  
  .actions {
    @include flex-end;
  }
}