@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-vertical {
  display: flex;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-grow {
  flex: 1;
}

@mixin full-page {
  height: 100%;
  width: 100%;
}

@mixin background-cover($url) {
  background-image: url($url);
  background-size: cover;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
