@import 'variables';
@import 'mixins';
@import 'scrollbar';

@mixin panel ($z-index: $z-index-above-map-1) {
  position: absolute;
  @include flex-column;
  height: 100vh;
  width: 360px;
  z-index: $z-index;
  background-color: $background-color-secondary;
  color: $color-text;

  .header {
    @include flex-center-vertical;
    height: 64px;
    background-color: $color-primary;

    .title {
      @include flex-grow;
      @include truncate;
      padding: 0 16px;
      font-size: $font-large;
    }

    .icon-button-left {
      padding: 0 16px;
    }
    
    .icon-button-right {
      padding: 0 8px;
    }

    .checkbox-right {
      padding: 0 24px;
    }
  }

  .header2 {
    padding: 7px 4px 4px 24px;
    background-color: $background-color-quaternary;
  }

  .content {
    @include scrollbar;
    @include flex-grow;
    padding: 12px 0 12px 24px;
  }
}
