// ============ colors
$color-primary: #91241a;
$color-text: #ffffff;

// ============ background-colors
$background-color-primary: #1c1e1f;
$background-color-secondary: #303030;

// ============ fonts
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;

$font-icon: 16px;

// ============ z-indexes
