// ============ colors
$color-primary: #91241a;
$color-text: #ffffff;

// ============ background-colors
$background-color-primary: #1e1e1e;
$background-color-secondary: #262525;
$background-color-tertiary: #333333;

// ============ borders
$border-color-primary: #ffffff;

// ============ fonts
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;

$font-icon: 16px;

// ============ z-indexes
$z-index-toolbar: 1000;
$z-index-above-map-1: 401;
$z-index-above-map-2: 402;
$z-index-above-map-3: 403;
