@mixin waypoint-icon {
  height: 5px !important;
  width: 5px !important;
  margin-right: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  border: 1px solid #0000ff;
  display: inline-block;
}