@import 'variables';
@import 'mixins';

:host {
  @include page;
  padding: 0 70px;
}

.section {
  @include flex-wrap;
  @include flex-center;
}

.section-header {
  color: $color-text-secondary;
  @include flex-center;
  width: 100%;
}

.buttons {
  @include flex-center;
  width: 200px;
  margin: 20px auto;
}