<form [formGroup]="settingsGroup" (ngSubmit)="onSubmit(settingsGroup.value)">
  <div class="section">
    <h1 class="section-header">Wybierz Zen</h1>
    <app-option-tile *ngFor="let key of zenWorlds | keys"
      [text]="zenWorlds[key].name"
      [backgroundImage]="zenWorlds[key].imageUrl"
      [isActive]="zenId === key"
    >
      <input #click type="radio"
        [formControl]="settingsGroup.get('zen')"
        [value]="key"
      >
    </app-option-tile>
  </div>

  <div class="section" *ngIf="zenId && zenMapImageIds">
    <h1 class="section-header">Wybierz Mapę</h1>
    <app-option-tile
      [text]="mapImages.blank.name"
      [backgroundImage]="mapImages.blank.imageUrl"
      [isActive]="imageId === 'blank'"
    >
      <input #click type="radio"
        [formControl]="settingsGroup.get('image')"
        [value]="'blank'"
      >
    </app-option-tile>
    <app-option-tile *ngFor="let key of zenMapImageIds"
      [text]="mapImages[key].name"
      [backgroundImage]="mapImages[key].imageUrl"
      [isActive]="imageId === key"
    >
      <input #click type="radio"
        [formControl]="settingsGroup.get('image')"
        [value]="key">
    </app-option-tile>
  </div>

  <div class="section" *ngIf="zenId && additionalZenMapImageIds">
    <h1 class="section-header">Wybierz Dodatkowe Mapy</h1>
    <app-option-tile *ngFor="let key of additionalZenMapImageIds"
      [text]="mapImages[key].name"
      [backgroundImage]="mapImages[key].imageUrl"
      [isActive]="additionalImages | includes: key"
    >
      <input #click type="checkbox"
        (change)="onCheckChange($event)"
        [value]="key">
    </app-option-tile>
  </div>

  <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="warn"
      [disabled]="!settingsGroup.valid"
    >
      Zatwierdź
    </button>
  </div>
</form>