<form [formGroup]="settingsGroup" (ngSubmit)="onSubmit()">
  <div class="section">
    <h1 class="section-header">Wybierz Zen</h1>
    <app-option-tile *ngFor="let key of zenWorlds | keys"
      [text]="zenWorlds[key].name"
      [backgroundImage]="zenWorlds[key].imageUrl"
      [isActive]="zenId === key"
    >
      <input #click type="radio"
        [formControl]="zenField"
        [value]="key"
      >
    </app-option-tile>
  </div>
  <div class="section">
    <app-option-tile *ngFor="let key of zenWorlds2 | keys"
      [text]="zenWorlds2[key].name"
      [backgroundImage]="zenWorlds2[key].imageUrl"
      [isActive]="zenId === key"
    >
      <input #click type="radio"
        [formControl]="zenField"
        [value]="key"
      >
    </app-option-tile>
    <app-option-tile
      [text]="uploadText"
      backgroundImage="assets/spacer-icon.png"
      [isActive]="zenId === OWN_FILE_OPTION"
    >
      <app-input-file-reader #click accept=".zen" (readedFile)="fileChange($event)">
      </app-input-file-reader>
    </app-option-tile>
  </div>

  <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="warn"
      [disabled]="!settingsGroup.valid"
    >
      Zatwierdź
    </button>
  </div>
</form>