<form [formGroup]="settingsGroup" (ngSubmit)="onSubmit(settingsGroup.value)">
  <div class="section">
    <app-option-tile-radio
      *ngFor="let key of zenWorlds | keys"
      [control]="settingsGroup.get('zen')"
      [value]="key"
      [text]="zenWorlds[key].name"
      [backgroundImage]="zenWorlds[key].imageUrl"
    ></app-option-tile-radio>
  </div>
  <div class="section" *ngIf="zenId && zenMapImageIds">
    <app-option-tile-radio
      [control]="settingsGroup.get('image')"
      [value]="'blank'"
      [text]="mapImages.blank.name"
      [backgroundImage]="mapImages.blank.imageUrl"
    ></app-option-tile-radio>
    <app-option-tile-radio
      *ngFor="let key of zenMapImageIds"
      [control]="settingsGroup.get('image')"
      [value]="key"
      [text]="mapImages[key].name"
      [backgroundImage]="mapImages[key].imageUrl"
    ></app-option-tile-radio>
  </div>
  <button
    mat-raised-button
    type="submit"
    color="warn"
    [disabled]="!settingsGroup.valid"
  >
    Zatwierdź
  </button>
</form>