<div class="button-wrapper">
  <app-input-file
    *ngIf="!world"
    (fileResult)="emitFileResult($event)"
    (fileName)="setFileName($event)"
  ></app-input-file>
  <div *ngIf="world">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="setIsOpenToolbar(true)"
    >
      TOOLBAR
    </button>
  </div>
</div>
<div *ngIf="world && isOpenToolbar" class="toolbar" [@leftPanelAnimation]>
  <div class="header">
    <div class="icon-button-left">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
    <div class="file-name">
      {{fileName}}
    </div>
    <div class="icon-button-right">
      <app-input-file
        type="icon"
        (fileResult)="emitFileResult($event)"
        (fileName)="setFileName($event)"
      ></app-input-file>
    </div>
    <div class="icon-button-right">
      <button mat-icon-button (click)="setIsOpenToolbar(false)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <app-custom-scrollbar>
      <div class="filter" *ngFor="let vobFilter of vobFilters">
        <mat-checkbox
          color="warn"
          [(ngModel)]="vobFilter.checked"
          (change)="onCheckboxChange($event, vobFilter.gMarkersGroup)"
        >
          {{vobFilter.text}} ({{vobFilter.gMarkersGroup.markers.length}})
        </mat-checkbox>
        <app-vobs-list
          [checked]="vobFilter.checked"
          [text]="vobFilter.text"
          [gMarkersGroup]="vobFilter.gMarkersGroup"
        ></app-vobs-list>
      </div>
    </app-custom-scrollbar>
  </div>
</div>