<div *ngIf="vob" class="panel" [@enterAnimation]>
  <div class="header">
    <button mat-icon-button (click)="close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="title">
      {{vob.vobType}}
    </div>
  </div>
  <div class="content">
    <app-custom-scrollbar>
      <div *ngFor="let property of panelData" class="property">
        <span class="key">{{property.key}}: </span>
        <span class="value">{{property.value}}</span>
      </div>
    </app-custom-scrollbar>
  </div>
</div>
