<div *ngIf="vob" class="panel" [@leftPanelAnimation]>
  <div class="header">
    <button mat-icon-button (click)="close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="title">
      {{vob.vobType}}
    </div>
  </div>
  <div class="content">
    <div *ngFor="let property of panelData" class="property">
      <span *ngIf="!isRest(property.key)" class="key">{{property.key}}: </span>
      <span *ngIf="!isArrayValue(property.value)" class="value">{{property.value}}</span>
      <div
        *ngIf="isArrayValue(property.value)"
        [ngClass]="{'value-array': !isRest(property.key), 'value-rest': isRest(property.key)}"
      >
        {{arrayToString(property.value)}}
      </div>
    </div>
  </div>
</div>
