<div *ngIf="vob" class="panel" [@leftPanelAnimation]>
  <div class="header">
    <button mat-icon-button (click)="close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="title" [title]="vob.vobType">
      {{vob.vobType}}
    </div>
  </div>
  <div class="content">
    <div *ngFor="let property of panelData" class="property" [ngSwitch]="property.key">
      <div *ngSwitchCase="'rest'" class="value-rest">
          {{arrayToString(property.value)}}
      </div>
      <div *ngSwitchDefault>
        <span class="key">{{property.key}}: </span>
        <div *ngIf="property.value | isArray; then isArray; else notArray"></div>
        <ng-template #isArray class="value-array">
            {{arrayToString(property.value)}}
          </ng-template>
        <ng-template #notArray class="value">{{property.value}}</ng-template>
      </div>
    </div>
  </div>
</div>
