@import 'variables';
@import 'mixins';

:host { @include page; }
.map-container { @include full-page; }
.map-frame { @include full-page; }

#map {
  @include full-page;
  background-color: $background-color-primary;

  ::ng-deep .bounce-marker {
    animation: bounce 1s infinite;
  }
}

@keyframes bounce {
  0%       { top: -5px; }
  25%, 75% { top: -15px; }
  50%      { top: -20px; }
  100%     { top: 0;}
}