<div *ngIf="items && isOpenPanel" class="panel" [@leftPanelAnimation]>
  <div class="header">
    <div class="icon-button-left"></div>
    <div class="title" [title]="'ITEMS'">ITEMS</div>
    <div class="checkbox-right"></div>
  </div>
  <div class="content">
    <div *ngFor="let item of items; let index = index">
      <mat-checkbox
        color="warn"
        [(ngModel)]="item.checked"
        (change)="onChange($event)"
      >
        <span [title]="item.text">{{item.text}} ({{item.number}})</span>
      </mat-checkbox>
    </div>
  </div>
</div>
