@import 'variables';
@import 'mixins';

.content {
  font-size: $font-small;
}

.section {
  margin-bottom: 20px;
}

.label {
  padding-bottom: 7px;
}

.file-name {
  font-size: $font-large; 
}

.actions {
  @include flex-end;
}