@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1e1e1e;
}
