<div class="button-wrapper">
  <app-input-file
    *ngIf="!world"
    (fileResult)="emitFileResult($event)"
    (fileName)="setFileName($event)"
  ></app-input-file>
  <div *ngIf="world">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="setIsOpenToolbar(true)"
    >
      VOBTREE
    </button>
  </div>
</div>
<div *ngIf="world && isOpenPanel" class="panel" [@leftPanelAnimation]>
  <div class="header">
    <div class="icon-button-left">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
    <div class="title">
      {{fileName}}
    </div>
    <div class="icon-button-right">
      <app-input-file
        type="icon"
        (fileResult)="emitFileResult($event)"
        (fileName)="setFileName($event)"
      ></app-input-file>
    </div>
    <div class="icon-button-right">
      <button mat-icon-button (click)="setIsOpenToolbar(false)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <div class="content scrollbar">
    <div class="filter" *ngFor="let vobFilter of vobFilters">
      <mat-checkbox
        color="warn"
        [(ngModel)]="vobFilter.checked"
        (change)="onCheckboxChange($event, vobFilter.vobMarkerGroup)"
      >
        {{vobFilter.text}} ({{vobFilter.vobMarkerGroup.markers.length}})
      </mat-checkbox>
      <app-vobs-list
        [checked]="vobFilter.checked"
        [text]="vobFilter.text"
        [vobMarkerGroup]="vobFilter.vobMarkerGroup"
      ></app-vobs-list>
    </div>
  </div>
</div>