<div *ngIf="world && isOpenPanel" class="panel" [@leftPanelAnimation]>
  <div class="header">
    <div class="icon-button-left">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
    <div class="title" [title]="name">
      {{name}}
    </div>
    <div class="icon-button-right">
      <button mat-icon-button routerLink="/settings">
        <mat-icon>settings_applications</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="filter" *ngFor="let vobFilter of vobFilters">
      <mat-checkbox
        color="warn"
        [(ngModel)]="vobFilter.checked"
        (change)="onCheckboxChange($event, vobFilter.vobMarkerGroup)"
      >
        {{vobFilter.text}} ({{vobFilter.vobMarkerGroup.markers.length}})
      </mat-checkbox>
      <app-vobs-list
        [checked]="vobFilter.checked"
        [text]="vobFilter.text"
        [vobMarkerGroup]="vobFilter.vobMarkerGroup"
      ></app-vobs-list>
    </div>
  </div>
</div>