<div class="property" [ngSwitch]="key">

  <div *ngSwitchCase="'colorAniList'" class="value">
    <span class="key">{{key}}: </span>
    <app-g-colors [colors]="value"></app-g-colors>
  </div>

  <ng-container *ngSwitchDefault [ngSwitch]="type">
    <div *ngSwitchCase="'rest'" class="value-rest">
      {{value | join: '\n' }}
    </div>

    <div *ngSwitchCase="'color'" class="value-color">
      <span class="key">{{key}}: </span>
      <app-g-color [color]="value"></app-g-color>
    </div>

    <div *ngSwitchDefault>
      <span class="key">{{key}}: </span>
      <ng-container
        *ngIf="value | isArray; then isArray; else notArray"
      ></ng-container>

      <ng-template #isArray>
        <div class="value-array">
          {{value | join: '\n' }}
        </div>
      </ng-template>

      <ng-template #notArray>
        <span class="value">{{value}}</span>
      </ng-template>
    </div>
  </ng-container>
    
</div>
